*.log
roundeddigital.dev/wp-config.php
roundeddigital.dev/wp-content/advanced-cache.php
wp-content/backup-droundeddigital.dev/b/
roundeddigital.dev/roundeddigital.dev/wp-content/backups/
wp-content/blogs.dir/
roundeddigital.dev/wp-content/cache/
roundeddigital.dev/wp-content/upgrade/
roundeddigital.dev/wp-content/uploads/
roundeddigital.dev/wp-content/wp-cache-config.php
roundeddigital.dev/wp-content/plugins/hello.php

roundeddigital.dev/.htaccess
roundeddigital.dev/license.txt
roundeddigital.dev/readme.html
roundeddigital.dev/sitemap.xml
roundeddigital.dev/sitemap.xml.gz

*.DS_Store
